:root {
  /* Font-size */
  --text-xxs: 0.6rem;
  --line-xxs: 0.72rem;
  --text-xs: 0.75rem; /* 12px */
  --line-xs: 1rem; /* 16px */
  --text-sm: 0.875rem; /* 14px */
  --line-sm: 1.25rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --line-base: 1.5rem; /* 24px */
  --text-lg: 1.125rem; /* 18px */
  --line-lg: 1.75rem; /* 28px */
  --text-xl: 1.25rem; /* 20px */
  --line-xl: 1.75rem; /* 28px */
  --text-2xl: 1.5rem; /* 24px */
  --line-2x1: 2rem; /* 32px */
  --text-3xl: 1.875rem; /* 30px */
  --line-3x1: 2.25rem; /* 36px */
}
