@use "./fontsize";
@use "./theme";
@use "./shows";


.app-main-container {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  background-color: var(--theme-bg);
  user-select: none;
  position: relative;
}

.app-header-container {
  position: sticky;
  top: 0;
  background-color: var(--theme-bg);
  z-index: 999;
  margin: -20px;
  padding: 30px;
  padding-left: 10px;
  padding-right: 20px;
}

.app-content-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px; // LA CLAVE

}

.app-content-title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: var(--bg-theme);
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.img-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-desktop {
  display: none;
}


.title-card {
  font-size: 20px;
  color: var(--text-card);
  line-height: 10px;
  letter-spacing: 3px;
}

.title-theme{
  font-size: 20px;
  color: var(--theme-text);
  line-height: 10px;
  letter-spacing: 3px; 

}

.app-footer-container {
  position: static;
  width: 100%;
  background-color: #000000;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(50px);
}

.app-footer-visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 1300px) {

  .hidden-app-footer {
    transform: translateY(100%);
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-card{
    font-size: 40px;
  }

  .title-theme{
    font-size: 40px;

  }
}
