.company {
  width: 120px;    /* debe coincidir con el preset */
  height: auto;    /* mantiene proporción */
  object-fit: contain;
  cursor: pointer;
}

.logo {
  width: 120px;    /* debe coincidir con el preset */
  height: auto;    /* mantiene proporción */
  object-fit: contain;
}

.hero {
  width: 100%;
  height: auto;  /* se ajusta automáticamente según el preset */
  max-height: 400px; /* opcional para desktop */
  object-fit: cover;  /* se puede cambiar dinámicamente según isMobile */
}

.poster {
  cursor: pointer;
  width: 300px; /* coincide con preset poster */
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}