.lanegra {
  width: 120px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.logo {
  width: 250px;
  height: auto;
  object-fit: contain;
}

/* Hero image */
.hero {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain; /* valor por defecto para móviles */
}

/* Para pantallas grandes usamos cover */
@media (min-width: 769px) {
  .hero {
    object-fit: cover;
  }
}

/* Posters */
.poster {
  cursor: pointer;
  width: 300px;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
